Hello ${transaction.nextapprover},<br />
<br />
There is a purchase request pending your review. Please see the attached PDF and use one of the links in the email to indicate your approval or rejection.<br />
<br />
<!--update these email addresses based on current environment--> To approve this transaction, <a href="mailto:emails.3858704_SB1.312.25094f2b9d@emails.netsuite.com?subject=${transaction.tranId}&amp;body=%23approve">Click here.</a><br />
<br />
To reject this transaction, <a href="mailto:emails.3858704_SB1.312.25094f2b9d@emails.netsuite.com?subject=${transaction.tranId}&amp;body=%23reject">Click here.</a><br />
<br />
Thank you.